/* AllProducts.css */

.page-header {
  margin-bottom: 20px;
}

.page-title {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #fff; /* Change color to white */
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-top: 20px;
  padding-left: 20px;
}

.category-container {
  margin-left: 280px;
}

.category-card {
  margin-bottom: 20px;
  background-color: #222; /* Change background color to a darker shade */
  border-radius: 8px;
  padding: 10px;
}

.category-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* Change color to white */
  margin-right: 10px;
}

.expand-icon {
  font-size: 24px;
  color: #fff; /* Change color to white */
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* Change color to white */
}

.card-price {
  margin: 5px 0;
  font-size: 16px;
  color: #fff; /* Change color to white */
}

.card-description {
  margin: 5px 0;
  font-size: 14px;
  color: #fff; /* Change color to white */
}

.card-stock {
  margin: 5px 0;
  font-size: 14px;
  color: green;
  font-weight: bold;
}
